@import "mocha.css";

* {
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: "JetBrainsMono Nerd Font Propo", FontAwesome, Roboto, Helvetica, Arial,
		sans-serif;
	font-size: 14px;
}

window#waybar {
	background-color: rgba(43, 48, 59, 0);
	color: #cdd6f4;
	transition-property: background-color;
	transition-duration: 0.5s;
}

button {
	box-shadow: inset 0 -3px transparent;
	border: none;
	border-radius: 4px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	background: inherit;
}

#workspaces {
	border: solid @blue 2px;
}

#window {
	border: solid @mauve 2px;
}

#tray {
	border: solid @green 2px;
}

#pulseaudio {
	border: solid @peach 2px;
}

#backlight {
	border: solid @lavender 2px;
}

#battery {
	border: solid @red 2px;
}

#clock {
	border: solid @blue 2px;
}

#workspaces, #window, #tray, #pulseaudio, #battery, #brightness, #backlight, #clock {
	border-radius: 10px;
	padding-right: 8px;
	padding-left: 8px;
}

.modules-left, .modules-right, .modules-center {
	margin-top: 10px;
}

.modules-left {
	margin-left: 10px;
}

.modules-right {
	margin-right: 10px;
}

.modules-right * {
	margin-left: 8px;
}

#workspaces button {
}

#workspaces button:hover {
}

#workspaces button.active {
}

#workspaces button.urgent {
}

#mode {
}

#window,
#workspaces {
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

#clock {
	margin-right: 5px;
}

#battery {
}

#battery.charging,
#battery.plugged {
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#power-profiles-daemon {
	padding-right: 15px;
}

#power-profiles-daemon.performance {
}

#power-profiles-daemon.balanced {
}

#power-profiles-daemon.power-saver {
}

label:focus {
	background-color: #000000;
}

#cpu {
}

#memory {
}

#disk {
}

#backlight {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#wireplumber {
}

#wireplumber.muted {
}

#custom-media {
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
}

#temperature.critical {
}

#tray {
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
}

#mpd {
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

#language {
}

#keyboard-state {
}

#keyboard-state > label {
}

#keyboard-state > label.locked {
}

#scratchpad {
}

#scratchpad.empty {
}

#privacy {
}

#privacy-item {
}

#privacy-item.screenshare {
}

#privacy-item.audio-in {
}

#privacy-item.audio-out {
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
}
