@theme "theme.rasi"

configuration {
   font: "JetBrainsMono Nerd Font 14";
   show-icons: true;
   terminal: "alacritty";
   icon-theme: "Papirus";
   drun-show-actions: true;
   hover-select: true;
   timeout {
      action: "kb-cancel";
      delay: 0;
  }
  filebrowser {
      directories-first: true;
      sorting-method: "name";
  }
}
